@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing:border-box;
    font-family: futura;
    }

*, *:before, *:after {
    box-sizing: inherit;
    }

.title {
    color: red;
}

@media only screen and (min-width: 30em) {
    .title {
        color: orange;
    }
    
}

@media only screen and (min-width: 50em) {
    .title {
        color: yellow;
        font-size: 10rem;
    }
}